*.log
npm-debug.log*

# Dependency directories
flat_finder_backend/node_modules/
flat-finder-frontend/node_modules/

# Build directories
flat_finder_backend/build/
flat-finder-frontend/build/

# Environment variables
.env